"*":
  "atom-autocomplete-php":
    verboseErrors: true
  "atom-material-ui":
    colors:
      abaseColor: "#64b3ef"
    ui:
      panelShadows: true
  "autocomplete-plus": {}
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    audioBeep: false
    disabledPackages: [
      "tabs"
      "disable-arrow-keys"
      "linter"
      "linter-ui-default"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules/"
      ".build_cache/"
      ".deploy/"
      "build/"
      "error_logs/"
      "public/"
      ".idea/"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    titleBar: "hidden"
  "disable-keybindings":
    allCommunityPackages: true
    exceptCommunityPackages: [
      "fuzzy-finder"
      "ex-mode"
      "vim-mode-plus"
    ]
    prefixKeys: [
      "cmd-k"
    ]
  editor:
    showLineNumbers: false
    tabLength: 4
  "exception-reporting":
    userId: "3ce15081-99cb-5071-c8b8-5c2d316aadd2"
  "find-and-replace":
    liveSearchMinimumCharacters: 1
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    ignoredNames: [
      ".build_cache"
      ".deploy"
      ".elasticbeanstalk"
      ".githooks"
      "vendor"
      "error_logs"
      "build"
      "node_modules"
      "plugins"
      "libs"
      ".git"
      ".ebextensions"
      "public"
      "tracks"
      "play"
      "portal"
      "modules"
      "core"
      "system"
      "tests"
      "build_tools"
      "src"
      "scripts"
    ]
    preserveLastSearch: true
    useAlternateScoring: false
  "goto-definition":
    performanceMode: true
  "ide-php":
    phpPath: "/usr/bin/php"
  "incremental-search":
    instantSearch: true
    landAtPointInsteadOfRange: true
  "linter-eslint":
    global:
      useGlobalEslint: true
  "linter-php":
    errorReporting: false
    executablePath: "/usr/bin/php"
  "linter-ui-default":
    panelHeight: 17
    panelRepresents: "Current Line"
  "no-title-bar": {}
  "remote-sync":
    autoHideLogPanel: true
  tabs:
    enableMruTabSwitching: false
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    ignoreCaseForFind: true
    ignoreCaseForSearch: true
    lastSuccesfulMatch: true
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    smoothScrollOnFullScrollMotionDuration: 300
    smoothScrollOnHalfScrollMotionDuration: 300
    statusBarModeStringStyle: "long"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
