"*":
  "autocomplete-plus": {}
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    disabledPackages: [
      "pane-full-info"
      "tabs"
      "disable-arrow-keys"
      "linter"
      "linter-eslint"
      "linter-php"
      "linter-ui-default"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    titleBar: "hidden"
  "disable-keybindings":
    allCommunityPackages: true
    exceptCommunityPackages: [
      "fuzzy-finder"
      "ex-mode"
      "vim-mode-plus"
    ]
    prefixKeys: [
      "cmd-k"
    ]
  editor:
    showLineNumbers: false
    tabLength: 4
  "exception-reporting":
    userId: "3ce15081-99cb-5071-c8b8-5c2d316aadd2"
  "find-and-replace":
    liveSearchMinimumCharacters: 1
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    ignoredNames: [
      ".build_cache"
      ".deploy"
      ".elasticbeanstalk"
      ".githooks"
      "vendor"
      "error_logs"
      "build"
      "node_modules"
      "plugins"
      "libs"
      ".git"
      ".ebextensions"
      "public"
      "tracks"
      "play"
      "portal"
      "modules"
      "core"
      "system"
      "tests"
      "build_tools"
      "src"
      "scripts"
    ]
    preserveLastSearch: true
    useAlternateScoring: false
  "goto-definition":
    performanceMode: true
  "incremental-search":
    instantSearch: true
    landAtPointInsteadOfRange: true
  "linter-php":
    errorReporting: false
    executablePath: "/usr/bin/php"
  "linter-ui-default":
    panelHeight: 17
    panelRepresents: "Current Line"
  "no-title-bar": {}
  "remote-sync":
    autoHideLogPanel: true
  tabs:
    enableMruTabSwitching: false
  "tree-view": {}
  "vim-mode-plus":
    ignoreCaseForFind: true
    ignoreCaseForSearch: true
    lastSuccesfulMatch: true
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 300
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 300
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
